.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    margin: 12px;

    .container__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .container__description {
        font-size: 1rem;
        color: #555;
        margin-bottom: 0;
        width: 300px;
        text-align: center;
        text-wrap: balance;
    }
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-code-hidden {
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 300px;

    .input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: calc(100% - 20px);
        height: 100px;
    }

    .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;

        &:hover {
            background-color: #0056b3;
        }
    }
}